.container {
    margin-left: 15%;
    margin-right: 15%; 
    /* background-color: rgba(4, 21, 36, 0.664); */
    display: flex; 
    flex-direction: column;
    /* justify-content: center; */
}
.info {
    /* background-color:blueviolet;  */
    display: flex;
    flex-direction: row;
    flex: 1;
    
    /* align-content: space-between; */
}
.one {
    flex: 1;
}
.six {
    flex:6;
}

.logo {
    height: 50%;
    align-self: center;
}

.expl {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    /* background-color: red;  */
}
.bold {
    font-size: 150%;
    font-weight: bold;
}